.ChatBoxApp,
.msg-header {
  font-family: sans-serif;
}
.send-message-form {
  box-sizing: border-box;
  width: 330px;
  position: fixed;
  bottom: 80px;
  right: 40px;
  background-color: #488c89;
  border-radius: 5px;
  box-sizing: 2px black;
  box-shadow: -10px 7px 28px -6px rgba(0, 0, 0, 0.53);
}
.msg-header {
  text-align: center;
  color: #fff;
}
.form-toggle-button {
  background-color: rgb(72, 140, 137);
  color: white;
  border-radius: 50%;
  outline: none;
  border: none;
  padding: 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.start-msg:hover {
  background: rgb(50, 104, 101);
  opacity: 1;
  outline: none;
}
.custom-form {
  display: flex;
  align-items: center;
  flex-flow: column;
  background: #f9fafa;
}

.custom-form > input:first-child {
  margin-top: 20px;
}
.custom-form > input,
.custom-form > textarea {
  width: 90%;
  height: 30px;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  border: 1px solid darkgray;
}
.custom-form > input::placeholder,
.custom-form > textarea::placeholder {
  color: lightgray;
}
.custom-form > textarea {
  padding-top: 10px;
}
.custom-form > button {
  width: 90%;
  padding: 15px 0;
  font-size: 12;
  background-color: #488c89;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 20px;
}
.img-list {
  display: flex;
  justify-content: center;
}
.img-list > img {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.img-list > img:first-child {
  position: relative;
  left: 15px;
  z-index: 10000;
}
.img-list > img:nth-child(2) {
  position: relative;
  left: 10px;
  z-index: 100;
}
.img-list > img:nth-child(3) {
  position: relative;
  left: 5px;
  z-index: 10;
}
.img-list > img:nth-child(4) {
  position: relative;
  left: 0px;
  z-index: -10;
}
